*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    background-color: #1D0840;
}

.sanyeticMain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sección 1 */
.sanyeticMain--Section1__article1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.sanyeticMain--Section1__article1--imgLogoLeft,
.sanyeticMain--Section1__article1--imgLogoRight{
    width: 50%;
    height: auto;
}

.sanyeticMain--Section1__article1--contLogoTitleBtn__logo{
    width: 70%;
    margin-bottom: 20px;
}

.sanyeticMain--Section1__article1--contLogoTitleBtn__title{
    font-size: 24px;
    color: white;
}

.sanyeticMain--Section1__article1--contLogoTitleBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sanyeticMain--Section1__article1--contLogoTitleBtn__btn{
    text-decoration: none;
    padding: 0.7em 1.5em;
    background-color: #4E0BD2;
    color: white;
    border-radius: 50px;
    margin: 1em;
    margin-top: 20px;
}

.sanyeticMain--Section1__article1--contLogoTitleBtn__btn:hover{
    background-color: #5d1be0;
    cursor: pointer;
}

/* Sección 2 */
.sanyeticMain--Section2{
    background-image: url(/Sanyetic/img/Empezar.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2D114C;
    width: 100%;
    padding: 20px;
}

.sanyeticMain--Section2__contLTP--L{
    width: 40%;
    color: white;
    text-align: center;
}

.sanyeticMain--Section2__contLTP--T{
    width: 80%;
    color: white;
    margin: 1em 0px;
    font-size: 28px;
    text-align: center;
}

.sanyeticMain--Section2__contLTP--P{
    width: 80%;
    color: white;
    font-size: 18px;
    margin: 1em 0px;
    text-align: center;
}

.sanyeticMain--Section2__contLStores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.sanyeticMain--Section2__contLStores--cnt{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5em;
}

.sanyeticMain--Section2__contLStores--cntT{
    color: white;
    margin: 0px 10px;
}

/* Media Queries */
@media (min-width: 768px) {
    .sanyeticMain--Section1__article1{
        flex-direction: row;
        justify-content: space-between;
    }

    .sanyeticMain--Section1__article1--imgLogoLeft,
    .sanyeticMain--Section1__article1--imgLogoRight{
        width: 25%;
        height: 50%;
    }

    .sanyeticMain--Section1__article1--contLogoTitleBtn__logo{
        width: 50%;
    }

    .sanyeticMain--Section1__article1--contLogoTitleBtn__title{
        font-size: 30px;
    }

    .sanyeticMain--Section1__article1--contLogoTitleBtn__btn{
        margin-top: 50px;
    }

    .sanyeticMain--Section2{
        flex-direction: column;
        align-items: flex-end;
    }

    .sanyeticMain--Section2__contLTP--L{
        width: 30%;
    }

    .sanyeticMain--Section2__contLTP--T{
        width: 60%;
        font-size: 40px;
    }

    .sanyeticMain--Section2__contLTP--P{
        width: 50%;
        font-size: 20px;
    }

    .sanyeticMain--Section2__contLStores{
        flex-direction: column;
        width: 30%;
    }
}
